<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Document</title>

    <script>
        function save(){
            $.ajax({
                type: "POST",
                url:"/daftar",
                data: {
                    nick_give: $('#nick').val(),
                    pass_give: $('#pass').val(),
                    username_give: $('#username').val(),
                    wilayah_give: $('#wilayah').val(),
                    code_give: $('#code').val(),
                },
                success: function(response){
                    alert(response['msg'])
                } 
            })
        }
    </script>
</head>
<body>
    <input type="text" id="nick" placeholder="Masukkan nick">
    <input type="password" id="pass" placeholder="Masukkan Password">
    <input type="text" id="username" placeholder="Masukkan username">
    <input type="number" id="wilayah" placeholder="Masukkan wilayah">
    <input type="number" id="code" placeholder="Masukkan code">
    <button onclick="save()">DAFTAR</button>
</body>
</html>